.main-wrapper {
            padding: 40px;
        }
        .outline-rect {
            border: 2px solid #000000;
            padding: 1.5rem;
            margin-bottom: 2rem;
        }
        .header-flat {  
            background-color: #e7aa00;
        }
        .profile-circle-flat {
            width: 150px;
            height: 150px;
            border: 2px solid #4a4a4a;
            margin: 0 auto 20px auto;
            align-items: center;
            justify-content: center;
        }
        .profile-circle-flat img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .name-rect-flat {
            border: 2px solid #4a4a4a;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            background-color: #000000;
            color: #4a4a4a;
        }
        .inner-content-rect {
            border: 2px solid #4a4a4a;
            padding: 2rem;
            height: 100%;
        }