      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
      }

      field {
        width: 200%;
        max-width: 800px;
        margin-bottom: 2rem;
      }

      .image img {
        object-fit: cover;
        border-radius: 8px;
      };
      .image img {
            object-fit: cover;
            border-radius: 5px;
        };
.navbarBasicExample {
            background-color: #0091bd;
        }